.cim {
    height: 80vh;
    background: url(cimkep.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.cim_tart h1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 10px;
}
.menu {
    background:green;
    display: flex;
    justify-content: center;
    position: sticky;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 500; 
}























































