.cim {
    height: 80vh;
    background: url(cimkepe);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.cim_tart h1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 10px;
}

























































